body {
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
}

button {
    padding: 10px;
    border: none;
    margin: 10px;
}

.container {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    padding: 5px;
}

.container > h1 {
    background-color: darkgray;
    padding: 20px;
    margin-bottom: 0;
}

.ugly-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding-bottom: 50px;
}

.ui.card {
    margin-top: 0;
}

.ui.form {
    background-color: rgb(124, 126, 124);
    padding: 50px;

}