header{
    padding: 10px;
    text-align: center;
    background-color: darkred;
    color: white;
    font-size: 20px;
    width: auto;
    border: 1px solid black;
}

.container{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    padding: 5px;
    background: lightgray;
}

.container div {
    width: 33%;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.container img {
    width: 65%;
    height: 200px;
}

#submit{
    margin: 0 auto;
    padding: 10px;
}

#totals{
    padding: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    background: lightcoral;
    font-weight: bold ;
}

#totals *{
    margin: 10px;
}

footer {
    margin-top: 0 auto;
    text-align: center;
    padding: 20px;
    background: lightgoldenrodyellow;
    color: darkorange;
    font-style: italic;
}

footer p{
    display: inline;
    margin: 10px;
}

@media only screen and (max-width: 768px) {
    .container div{
        display: inline-block;
        justify-content: center;
        width: auto;
    }
    .container img{
        width: 50%;
    }

}