h2{
    text-align: center;
    text-decoration: underline;
}

body{
    padding: 10px;
    background-color: gray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.vacation-spot{
    border: solid 1px black;
    align-items: center;
    align-content: center;
    text-align: center;
}

.vacation-spot img{
    margin-top: 20px;
}

.vacation-spot p{
    font-size: 16px;
}