* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    outline: none;
    text-decoration: none;
}

body {
    height: 100vh;
}

.app {
    background-color: rgba(226, 213, 213, 0.6);
}


/* Navbar */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 50px;
    margin-bottom: 30px;
    padding: 1vh;
    background-color: rgba(134, 131, 131, 0.6);
    border: none;
    color: antiquewhite;
}

ul {
    list-style-type: none;
    margin: 0;
}

a {
    color: black;
}

li {
    display: inline-block;
    margin: 2em 6em;
    font-weight: bold;
    font-size: 12px;

}

li:hover {
    opacity: 20%;
}

/* Main */
.auth-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.auth-container > h1 {
    font-size: 20px;
    margin: 1em;
}

.auth-container > p {
    margin: 16px;
    text-decoration: underline;
    opacity: 50%;
}

.auth-container > p:hover {
    cursor: pointer;
    font-weight: bold;
}

.auth-container > form {
    display: flex;
    flex-direction: column;
    border: 1px solid #3330;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(255, 172, 78, 0.226);
}

.auth-container > form > input {
    margin: 16px 8px;
    height: 3em;
}

.auth-container > form > button {
    margin: 16px 8px;
    padding: 10px;
}

.auth-form > p {
    font-size: 12px;
}
