* {
  margin: 100px;
  margin-bottom: -90px;
}

.dice-display {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.dice {
  background-color: rgb(223, 223, 223);
  border: solid rgb(36, 36, 36) 2px;
  border-radius: 20%;
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  height: 20px;
  width: 20px;
  background-color: tomato;
}